# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build outputs
/.next/
/out/

# TypeScript
next-env.d.ts

# Production
/build

# Environment variables
.env*.local
.env

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Testing
/coverage

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Turborepo
.turbo

# Cache
.eslintcache
.stylelintcache

# Generated types
.astro/
.cache/